<h2 class="services-title text-center fs-1 border-bottom w-25 mx-auto p-2">
    About me
</h2>

<div class="about-me-section py-6">
    <h4 class="section-title">A bit about me</h4>
    <p class="section-description">
        I'm Abdelrahman Ahmed, a self-taught web developer with a strong passion
        for both front-end and back-end development. I have experience in
        designing and implementing features from ideation to production,
        ensuring high-performance software applications. I focus on writing
        reusable and efficient code while keeping user experience in mind.
        Currently, I’m working on Full Stack development, with a particular
        interest in Angular and .NET. I enjoy blending design, technology, and
        creativity in all my projects and follow them from initial concept to
        release. I’m always excited to learn and grow in my field.
    </p>

    <div>
        <h4 class="section-title">Technologies and Tools</h4>
        <p class="section-description">
            Using a combination of cutting-edge technologies and reliable
            open-source software I build user-focused, performant apps and
            websites for smartphones, tablets, and desktops.
        </p>
    </div>

    <!-- Technologies icons section -->
    <div
        class="tech-icons flex flex-wrap gap-4 align-items-center justify-content-center"
    >
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">C Language</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">TypeScript</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Express</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">NodeJS</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Postman</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dart/dart-original.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Dart</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Flutter</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://pagepro.co/blog/wp-content/uploads/2020/03/react-native-logo-884x1024.png"
                class="w-12"
            />
            <h4 class="text-md ml-4">React Native</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">HTML</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">CSS</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Bootstrap</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Redux</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Sass</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Javascript</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-icon.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Tailwind CSS</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">React</h4>
        </div>

        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">MongoDB</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Heroku</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Git</h4>
        </div>
        <div class="tech-item">
            <img
                alt=""
                src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg"
                class="w-12"
            />
            <h4 class="text-md ml-4">Firebase</h4>
        </div>
    </div>
</div>
