<h2 class="services-title text-center fs-1 border-bottom w-25 mx-auto p-2 mt-5">
    Projects
</h2>

<div class="services-container container">
    <h4 class="services-subtitle text-start container">What I Built</h4>

    <div class="container py-5">
        <div class="row">
            <div
                class="col-12 col-md-6 col-lg-4"
                *ngFor="let project of projects"
            >
                <div class="card mb-4">
                    <img
                        [src]="project.imageUrl"
                        class="card-img-top"
                        alt="Project image"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <p class="card-text">
                            <strong>Technologies:</strong>
                            {{ project.technologies.join(", ") }}
                        </p>
                        <a
                            [href]="project.githubLink"
                            target="_blank"
                            class="btn btn-primary"
                            >View on GitHub</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Show More Button -->
    <div class="text-center mt-4">
        <a
            href="https://github.com/Abdelrhman-hefny"
            class="btn btn-primary btn"
            >Show More</a
        >
    </div>
</div>
