<!-- Angular + Bootstrap Responsive Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-white shadow px-3">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand fw-bold text-black fst-italic" href="/">
            &lt;Abdelrahman/&gt;
        </a>

        <!-- Toggle button for mobile view -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div
            class="collapse navbar-collapse justify-content-end align-items-center"
            id="navbarNav"
        >
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center mt-2">
                <li class="nav-item">
                    <a
                        class="nav-link active bg-primary px-3 rounded text-white"
                        aria-current="page"
                        href="#"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black px-3" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black px-3" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black px-3" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black px-3" href="#">Contact</a>
                </li>
                <!-- Moon Icon -->
                <li class="nav-item d-flex align-items-center ms-3">
                    <img
                        src="https://img.icons8.com/external-prettycons-lineal-color-prettycons/49/000000/external-moon-astrology-and-symbology-prettycons-lineal-color-prettycons.png"
                        class="moon-icon"
                        alt="Moon Icon"
                    />
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Styles -->
<style></style>
